$color-primary: #a4def9;

$shade-light-one: #e4f5fd;

$color-hover: #94c8e0;
$color-button-hover-text: #fff;

$color-hover-text: #fff;
$accent-color-one: #97f9f9;
$accent-color-two: #c1e0f7;
$accent-color-three: #cfbae1;
$accent-color-four: #c59fc9;

$text-color-primary: #060b16;

$backround-color-primary: #edf8fe;
$backround-color-secondary: #f5f1f9;
$background-color-tertiary: #555;

$button-secondary-color: #fff;
